body {
	background-color: #F0F0F0;
}

.header {
	width: 340px;
}
.header h3 {
	float: left;
}

.header .nav {
	float: right;
	margin: 15px 0;
}

.panel {
	width: 358px;
	height: 200px;
	margin-left: 0;
	background-color: #F0F0E0;
}

.panel-body {
	margin: 0;
	padding: 0;
}

.avatar_img {
	float: left;
}

.person_details {
	margin-left: 105px;
}

.form-inline {
	margin-top: 8px;
}
