<section class="artistinfo">
	<div class="artist cf" ng-model="artists">
		<h1>{{ artists.name }}</h1>
		<div class="info">
			<h3>{{ artists[artistId].reknown }}</h3>
			<img ng-src="images/{{ artists[artistId].shortname }}_tn.jpg" alt="Photo of {{ artists[artistId].name }}">

			<div class="bio">{{ artists[artistId].bio }}</div>
		</div> <!-- end of div class= info -->
	</div> <!-- end of div class= artist cf -->
	<a href="./index.html">&laquo; Back to Search</a>

	<a class="btn btn-right" style="float: right; margin: 0 5px;" href="./index.html#/details/{{ nextItem }}">&gt;</a>
	<a class="btn btn-right" style="float: right;" href="./index.html#/details/{{ prevItem }}">&lt;</a>
</section> <!-- end of section class= artistinfo -->