<section class="artistpage">      
  <div class="search">
    <h1>Artist Directory</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for artists" autofocus>

    <label class="formgroup">by:
      <select ng-model="artistOrder">
        <option value="name" selected>Name</option>
        <option value="reknown">Reknown</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked> ascending
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse"> descending
    </label>
       
  </div> <!-- end of div class= search -->

  <ul class="artistlist">
    <li ng-animate="animate" class="artist cf" ng-repeat="item in artists | filter: query | orderBy: artistOrder:direction">
      <a href="#/details/{{ artists.indexOf(item) }}">
        
        <img ng-src="images/{{ item.shortname }}_tn.jpg" alt="Photo of {{ item.name }}">
        <div class="info">
          <h2>{{ item.name }}</h2>
          <h3>{{ item.reknown }}</h3>
        </div> <!-- end of ul class= info -->

      </a>
    </li>
  </ul> <!-- end of ul class= artistlist -->

</section> <!-- end of section class= artistpage -->