<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<title>My First Angular App</title>
		<script src="lib/angular/angular.min.js"></script>
		<script src="js/controllers.js"></script>
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/mystyle.css">
	</head>
	<body>
		<div class="container">
			
			<div class="navbar navbar-default">
				<div class="navbar-header">
					<span class="navbar-brand">Angular Demo</span> &nbsp; &nbsp; &nbsp;
				</div> <!-- end of class= navbar-header -->
				<div class="navbar form-inline">
					<input type="text" class="form-control" placeholder="Search" ng-model="search">
				</div> <!-- end of class= navbar-header form-group -->
			</div> <!-- end of class= navbar navbar-default -->
			
			<div ng-controller="MyController">		
				<div class="row">
					<ul class="list-unstyled">
						<li class="person" ng-repeat="item in people | filter: search">
							<div class="col-sm-6 col-md-6 col-lg-4">
								<div class="panel panel-default">
									<div class="panel-body">
										<img class="avatar_img" src="{{ item.avatar }}" >
										<div class="person_details">
											<h4>{{ item.name }}</h4>
											<p><b>Gender:</b> {{ item.gender }}</p>
											<p><b>Race: </b> {{ item.race }}</p>
											<p><b>Age: </b> {{ item.birthdate | ageFilter }}</p>
											<p><b>Job Title: </b> {{ item.job_title }}</p>
											<p><b>Company: </b> {{ item.company }}</p>
										</div> <!-- end of class= person_details -->
									</div>	
								</div>	
							</div>
						</li>
					</ul> <!-- end of class= list-unstyled -->
				</div><!-- end of class= row -->
			</div> <!-- end of div controller= MyController -->
		</div> <!-- end of div class= container -->

	</body>
</html>
