
/* Search Styles */

.search {
    width: 100%;
    min-width: 320px;
    max-width: 500px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 20px 30px;
    z-index: 20;
}

.search h1 {
    margin-bottom: 10px;
}

.search label {
    font-size: 1rem;
    text-align: left;
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
}

.search input {
    width: 100%;
    display: inline-block;
    font-weight: 100;
    padding: 15px;
    margin: 5px 0;
    font-size: 1.3rem;
    color: #475B62;
    border: 1px solid #C5C5C5;
    border-radius: 4px;
    outline: 0;
}

/* Artist List Styles */

.artistlist {
    position: absolute;
    width: 30%;
    min-width:320px;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-bottom: 30px;
    background: white;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
    z-index: 10;
}

.artistlist ul {
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.artistlist li {
    padding: 10px 10px 0 10px;
    border-bottom: 1px solid #999;
    opacity: .9;
    transition: all 0.3s ease-out;
}

.artistlist a {
    display: block;
    text-decoration: none;
}

.artistlist li:hover {
    cursor: pointer;
    background: #FDF6E3;
    opacity: 1;
    -webkit-transform: scale(1.2);
    -moz-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
