/* Reset Styles */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline; }

html {
    line-height: 1; }

ol, ul {
    list-style: none; }

a img {
    border: none; }

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box; 
}


/* Base Styles */

.cf:before,
.cf:after {
        content: " "; /* 1 */
        display: table; /* 2 */
}

.cf:after {
        clear: both;
}

html {
    background-color: #F7F7F7;
    min-height: 100%;
    height: auto;
}

body    {
    font-family: Lato, 'Helvetica Nueue', Helvetica, Arial, sans-serif;
    font-size: 1rem;
    line-height: 160%;
    color: #555459;
    line-height: 1.5rem;
        *zoom: 1;
}
/***********************************************************/
/* My Styles... */

header nav a {
    font-family: Lato,appleLogo,sans-serif;
    text-decoration: none;
    font-size: 1.2em;
    padding: 5px;
    color: #555459;
}

header nav a:hover {
    color: #FFFFFF;
    background: #555459;
}


.card {
    background: white;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 40px;
    position: relative;
    opacity: .95;
    border-radius: 4px;
    border: 1px solid #e8e8e8;
    box-shadow: 0 1px 0 rgba(0,0,0,.25);
}

@media all and (max-width: 400px) {
    main {
        width: 100%;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', serif;
    font-weight: 100;
}


h1{
    font-size: 2.2rem;
    line-height: 100%;
    margin-bottom: 10px;
    padding-top: 10px;
    font-weight: 700;
    font-family: Lato,appleLogo,sans-serif;
    margin: 0 0 1rem;
}


h2{
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 90%;
    margin-bottom: 5px;
    margin-top: 10px;
}

h3{
    margin-top: 0;
    font-size: 1.2rem;
    line-height: 110%;
    margin-bottom: 5px;
}

p {
}

a.small {
    line-height: 100%;
    font-size: .9rem;
}

.btn {
    display: inline-block;
    padding: 12px 24px;
    margin-bottom: 0;
    font-size: 1.3rem;
    line-height: 140%;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    border: 1px solid transparent;
    border-radius: 4px;
    color: white;
    background-color: #2D8BCF;
    background-size: 18px 18px;
    min-width: 28px;
    min-height: 28px;
    background-position: center center;
    background-repeat: no-repeat;
       
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
